* ::before,
* ::after,
* {
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
    border: 1px solid black;
}

.container{
    display:flex;
    flex-wrap: wrap;
}

.square {
    border: 1px solid black;
    width : 80px;
    height : 80px;
    background-color: blue;
}